<div id="toolbox">
  <h1>Toolbox</h1>
  <label for="aspect">Lock aspect</label><input type="checkbox" id="aspect" checked="checked" />
  <button id="save">save</button>
  <div>Position: <span id="mouse_position">0,0</span></div>
  <div id="selected_element">
    <div>X: <input type="textbox" id="selected_x" class="selected_coordinate" /></div>
    <div>Y: <input type="textbox" id="selected_y" class="selected_coordinate" /></div>
    <div>W: <input type="textbox" id="selected_w" class="selected_coordinate" /></div>
    <div>H: <input type="textbox" id="selected_h" class="selected_coordinate" /></div>
    <div>Z: <input type="textbox" id="selected_z" class="selected_coordinate" /></div>
  </div>
</div>
