body { font-family: sans-serif; margin: 0; padding: 0; }
a { outline: none; }
#menu { text-align: center; word-spacing:30px; background-color: #333; padding: 5px; }
#menu a { font-size: 30pt; color: #888; text-decoration: none; }
